*.prefs
*.elf
*.list
*.map
*.cyclo
*.d
*.o
*.su
*.launch
*.mk
Controller/Build
External
.vscode
__pycache__
Testing/logs
Testing/Emulation/*.txt.*
App/build
App/install
App/log
Testing/ros_simulation/install
Testing/ros_simulation/build
Testing/ros_simulation/log
build

