[submodule "Controller/Libs/micro_ros_stm32cubemx_utils"]
	path = Controller/Libs/micro_ros_stm32cubemx_utils
	url = https://github.com/micro-ROS/micro_ros_stm32cubemx_utils.git
[submodule "App/src/localizer/include/TinyEKF"]
	path = App/src/localizer/include/TinyEKF
	url = https://github.com/simondlevy/TinyEKF.git
